// Other global files
@import '_variables';
@import '_mixins';
@import '_fonts';

// Theme fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@600;700&display=swap');

// RESETS
html {
    box-sizing: border-box;
    font-size: $font-size-root;
    font-family: $font-family;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    line-height: 1.15;
    color: $primary--base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html *,
html *::before,
html *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

@at-root {
    @-ms-viewport { width: device-width; }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

var {
    font-style: normal;
}

// BUTTONS

// MISC.
hr {
    border: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba($black, .25);
}