// RESETS
html {
    font-size: $font-size-root;
    font-family: $font-family !important;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    line-height: 1.15;
    color: $primary-base;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        &:before, &:after {
            box-sizing: border-box;
        }
    }
}

@at-root {
    @-ms-viewport { width: device-width; }
}

ul {
    list-style-type: none;
}

var {
    font-style: normal;
}

hr {
    border: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba($black, .25);
}

// BOOTSTRAP OVERRIDES
.nav-link {
    cursor: pointer;
}

.btn {
    margin-right: 5px;
}

.word-break{ word-wrap: break-word; }
.cursor-pointer{ cursor: pointer; }

.font-weight-black {
    font-weight: $heavy;
}

// LAYOUTS
.fullpage {
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}